<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>

<body>
    <h1>Create a new user</h1>

    <% if (errors.length> 0) { %>
        <ul>
            <% errors.forEach(err=> { %>
                <li>
                    <%= err.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form action="/users/new" method="POST">
                <input type="text" name="name" placeholder="Name" value="<%= data.name || '' %>" />
                <input type="email" name="email" placeholder="Email" value="<%= data.email || '' %>" />
                <button type="submit">Create User</button>
            </form>
</body>

</html>