<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="signup-container">
        <h1>Sign In</h1>

        <% if (error && error.length> 0) { %>
            <div class="error-message">
                <%= error[0] %>
            </div>
            <% } %>

                <form action="/login" method="POST">
                    <div>
                        <label for="identifier">Username or Email:</label>
                        <input type="text" id="identifier" name="identifier" placeholder="Enter your username or email"
                            required>
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit">Log In</button>
                </form>

                <p>Don’t have an account? <a href="/signup">Sign up here</a></p>
    </div>
</body>

</html>